---

- name: Install devel package
  apt:
    pkg: 'php{{ php7_fpm_version }}-dev'
    state: present
  when: php7_fpm_compile_modules|length

- name: debug modules
  debug:
    msg: '{{ php7_fpm_compile_modules }}'

- name: Compile modules from source
  include_tasks: 'compile.yml'
  when: php7_fpm_compile_modules is defined and php7_fpm_compile_modules|length
  with_items: '{{ php7_fpm_compile_modules }}'
  loop_control:
    loop_var: module

- name: Configure php7-fpm modules
  template:
    src: "{{ item }}"
    dest: "/etc/php/{{ php7_fpm_version }}/mods-available/{{ item | basename }}"
    force: yes
    owner: root
    group: root
    mode: 0644
  with_items: '{{php7_fpm_modules_config}}'
  notify: restart php{{ php7_fpm_version }}-fpm

- name: Enable modules
  notify: restart php{{ php7_fpm_version }}-fpm
  command: 'phpenmod {{ item }}'
  with_items: '{{ php7_fpm_default_enabled_packages  }}'
  changed_when: false
